<script>
  import Head from '$lib/components/Head.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { page } from '$app/stores';
  import { locale } from 'svelte-i18n';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  export let data;
  $: ({ content, metadata } = data);

  // Reactive page URL
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  // Extract metadata fields with defaults
  $: ({
    doctitle: title = '',
    author = '',
    description = '',
    keywords = '',
    pageImage = 'site.svg',
    pageNoindex = 'false'
  } = metadata || {});

  $: pageLang = pathname.split('/')[1];
  $: section = pathname.split('/')[1];
  let languageLinks = getAllLanguageLinks(pathname);
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<slot />
<!-- <svelte:element this={data.html} /> -->
<div class="doc">
  {@html content}
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
