<script>
  import { SideNav, SideNavItems, SideNavMenu, SideNavMenuItem } from "carbon-components-svelte";
  import { _ } from "svelte-i18n";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/udhr/" text="UDHR" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/udhr-morph/" text="UDHR Morphology" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/w_jl_w100/" text="Les 100 mots les plus fréquents en dioula de Côte d'ivoire" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/slides/quiz/" text="Ɲiningaliw" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/alpha-dyu/" text={$_("alphabet.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/money/" text="Wari {$_('Dyula')} na" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/animals/" text="Animaux en dioula de Côte d'Ivoire" />
    <SideNavMenu text="Contes">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/cenyumani/" text="Cenyumani ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/sunguru/" text="Sunguru ye jɔn ta ye ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/jaradenw/" text="Jaradenw" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/sula/" text="Sula ni Sonzani" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/dimi/" text="Dimi" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/subagaya/" text="Subagaya" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/ngalonci/" text="Ngalonci" />
    </SideNavMenu>
  </SideNavItems>
  <DropdownLang />
</SideNav>
