<script>
  import { SideNav, SideNavItems, SideNavMenuItem } from "carbon-components-svelte";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/udhr/" text="UDHR" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/udhr-morph/" text="UDHR Morphology" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/ngalonci/" text="Ngalonci" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/slides/quiz/" text="Ɲiningaliw" />
  </SideNavItems>
  <DropdownLang />
</SideNav>
