/* the proverb box home screen */
button#proverb {
  margin-top: 1rem;
  box-shadow: var(--shadow-3);
  font-size: var(--cds-heading-01-font-size);
  font-weight: var(--cds-heading-01-font-weight);
}

.doc ol,
.doc ul {
  padding: 0 0 0 0;
}

.doc ul:not([class^='bx']) {
  padding: 0 0 0 2rem;
}

#viz {
  border: none;
  padding-left: 0rem;
  height: calc(100dvh - 25rem);
}

@media screen and (min-width: 1024px) {
  #viz {
    padding-left: 5rem;
    min-height: calc(100dvh - 20rem);
    max-height: calc(100dvh - 20rem);
  }
}
