<<<<<<< HEAD
.doc details {
  margin-top: var(--cds-spacing-03);
  border: 1px solid var(--cds-ui-04);
  border-radius: 5px;
  color: var(--cds-text-02);
  font-size: var(--cds-body-01-font-size);
  font-style: italic;
  background: var(--cds-ui-03);
  /* padding-inline: var(--cds-spacing-05); */
  padding-block: var(--cds-spacing-03);
}

.doc details summary {
  font-style: bold;
=======
/* try not to display two markers!! */

/* home css */

/* .doc h3 { */
/*   margin-top: 2rem; */
/* } */

.doc details {
  margin-top: var(--cds-spacing-03);
  border: 1px solid var(--cds-ui-04);
  border-radius: var(--radius-2);
  color: var(--cds-text-02);
  font-size: var(--cds-body-01-font-size);
  font-style: italic;
  background: var(--cds-ui-02);
}

.doc details summary {
  font-style: normal;
>>>>>>> 2082f4c5fbae583102499126f0c8ec7db1ded4c0
  color: var(--cds-text-02);
  padding-inline-start: 3rem;
  text-indent: -1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
<<<<<<< HEAD
  background: var(--cds-ui-03);
=======
  background: var(--cds-ui-02);
>>>>>>> 2082f4c5fbae583102499126f0c8ec7db1ded4c0
  border-radius: 5px;
}

.doc details > .content {
  /* if you put this in the details it wrecks the padding */
  font-size: var(--cds-body-01-font-size);
  background-color: var(--cds-ui-01);
  padding-inline-start: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}

.doc ::marker {
  color: var(--cds-text-01);
}

<<<<<<< HEAD
/* .doc summary { */
/*   padding: var(--cds-spacing-03) var(--cds-spacing-05); */
/*   margin: calc(var(--cds-spacing-03) * -1) calc(var(--cds-spacing-05) * -1); */
/*   border-radius: 5px; */
/* } */

.doc details[open] {
  padding-block-end: 0;
}

.doc details[open] > summary {
=======
:where(summary) {
  background: var(--cds-layer);
  padding: var(--cds-spacing-03) var(--cds-spacing-05);
  margin: calc(var(--cds-spacing-03) * -1) calc(var(--cds-spacing-05) * -1);
  border-radius: 5px;
}

:where(details) {
  padding-inline: var(--cds-spacing-05);
  padding-block: var(--cds-spacing-03);
  background: var(--cds-layer-accent);
  border-radius: 5px;
}

:where(details[open] > summary) {
>>>>>>> 2082f4c5fbae583102499126f0c8ec7db1ded4c0
  margin-bottom: var(--cds-spacing-03);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
