<script>
  import { Tabs, Tab } from 'carbon-components-svelte';
  export let languageLinks;
  export let uiLang;
  import { currentLang } from '$lib/js/language.store';
  import { goto } from '$app/navigation';
  import { getLanguageIndex } from '$lib/js/metalang.js';
  //	import { _, locale } from 'svelte-i18n';

  currentLang.subscribe((value) => {
    uiLang = value; // Assign the language symbol directly
  });

  let linksArray = [];
  languageLinks.then((links) => {
    // console.log('meta', links); // log the fulfilled array
    linksArray = links; // assign the array to linksArray
  });

  function handleClick(language, link) {
    // console.log(uiLang)
    uiLang = language;
    currentLang.set(language); // Update the store
    selected = getLanguageIndex(uiLang);
    goto(link);
    selected = getLanguageIndex(uiLang);
    // console.log(uiLang)

    //	locale.set(uiLang);
    // You can now use the language parameter here, for example:
    // console.log("Clicked button for language:", language);
  }
  let selected = getLanguageIndex(uiLang);
</script>

<svelte:head>
  {#each linksArray as { link, language }}
    <link rel="alternate" hreflang={language} href={link} />
  {/each}
</svelte:head>

{#if linksArray.length >= 2}
  <Tabs autoWidth type="container" bind:selected>
    {#each linksArray as { link, language }}
      <Tab href={link} label={language} on:click={() => handleClick(language, link)} />
    {/each}
  </Tabs>
{/if}
