<script>
  // import NeoVis from 'neovis.js';
  import Proverb from '$lib/components/Proverb.svelte';
  import Viz from '$lib/components/Viz.svelte';
  import Head from '$lib/components/Head.svelte';
  import CSLang from '$lib/components/CSLang.svelte';
  import { onMount } from 'svelte';
  import { locale } from 'svelte-i18n';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  import { page } from '$app/stores';
  export let data;
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  const proverb = data.props.dyu;

  let currentLocale;
  locale.subscribe((value) => {
    currentLocale = value;
  })();

  function updateUI() {
    document.getElementById('prv_dyu').innerHTML = data.props.dyu;
    document.getElementById('prv_fr').innerHTML = data.props.fr;
  }

  onMount(() => {
    currentLocale = pathname.split('/')[1];
    locale.set(currentLocale);
    updateUI();

    // Load neovis.js first
    const neovisScript = document.createElement('script');
    neovisScript.src = '/js/neovis.js';
    neovisScript.onload = () => {
      // console.log('neovis.js loaded');

      // Load render-viz.js after neovis.js is ready
      const renderVizScript = document.createElement('script');
      renderVizScript.src = '/js/render-viz.js';
      renderVizScript.onload = () => {
        // console.log('render-viz.js loaded');

        window.draw(proverb);
      };
      document.head.appendChild(renderVizScript);
    };
    document.head.appendChild(neovisScript);
    // console.log('onmount docs: ', currentLocale);
  });

  let title = 'Coast Technologies home page';
  let author = 'Boyd Kelly';
  let description = 'Technology and language blog';
  let keywords = 'jula, dioula, dyula, ivory coast, language, lessons, udhr';
  let pageImage = 'wulufato.webp';
  let languageLinks = getAllLanguageLinks(pathname);
  let pageNoindex = false;
  //  $: console.log('docs: ', currentLocale);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />
<Proverb />

<Viz />
