<!-- SideNavDocs.svelte -->
<script>
  import { SideNav, SideNavItems, SideNavMenuItem } from "carbon-components-svelte";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  import { _ } from "svelte-i18n";
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      console.log("sidenav1 docs", $isSideNavOpen);
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
  // console.log("sidenav2 docs", $isSideNavOpen);
</script>

<SideNav fixed bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/udhr/" text="UDHR" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/udhr-morph/" text="UDHR Morphology" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/bambara-manual/" text="Bambara Study Manual" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/slides/quiz/" text="Quiz" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/alpha-dyu/" text={$_("alphabet.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/dyu/docs/cours/contes/ngalonci/" text="The Liar" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/animals/" text="Animals in Côte d'ivoire Jula" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/money/" text="Money and Counting in Jula" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/kodi-w100/" text={$_("kodi_w100.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/resources/" text="Jula study resources" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/fontlist/" text={$_("fontlist.title")} />
  </SideNavItems>
  <DropdownLang />
</SideNav>
