<script>
  import { DataTable } from 'carbon-components-svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  const pageUrl = $page.url.href;
  import alpha from './alpha-dyu.json';
  const rows = alpha;
  let title = $_('alphabet.title');
  let author = $_('alphabet.author');
  let description = $_('alphabet.description');
  let keywords = $_('alphabet.keywords');
  let pageImage = 'alphabet.svg';
  let pageNoindex = false;
  // if (pageCanonical && typeof pageCanonical === 'string' && pageCanonical.trim() !== "") {
  //   pageUrl = pageCanonical.trim();
  // }
  let languageLinks = getAllLanguageLinks(pathname);
  $: locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<DataTable
  zebra
  headers={[
    { key: 'letter', value: $_('alphabet.letter') },
    { key: 'ipa', value: $_('alphabet.ipa'), width: '200px' },
    { key: 'pronounce', value: $_('alphabet.pronounce') },
    { key: 'example', value: $_('alphabet.example') },
    { key: 'meaning', value: $_('alphabet.meaning') }
  ]}
  {rows}
>
  <PageImage {pageImage} />
  <h2 slot="title">{$_('alphabet.title')}</h2>
  <span slot="description" style="font-size: 1rem">
    {$_('alphabet.description')}
  </span>
</DataTable>
