<script>
  import Head from '$lib/components/Head.svelte';
  import { DataTable } from 'carbon-components-svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
let pageUrl = $page.url.href
  import data from '/src/assets/metadata/animal.json';
  const rows = data.xdxf.lexicon.ar;
  import metadata from './meta.json';
  let title = metadata.title;
  let author = metadata.author;
  let description = metadata.description;
  let keywords = metadata.keywords;
  let pageImage = 'animals.webp';
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<DataTable
  batchExpansion
  zebra
  nonExpandableRowIds={rows.filter((row) => row.usage == '').map((row) => row.id)}
  headers={[
    { key: 'dyu', value: $_('Dyula') },
    { key: 'fr', value: $_('French') },
    { key: 'usage', value: $_('Usage') }
  ]}
  {rows}
>
  <PageImage {pageImage} />
  <h2 slot="title">{title}</h2>
  <span slot="description" style="font-size: 1rem">
    {description}
  </span>
  <svelte:fragment slot="expanded-row" let:row>
    {row.ex.trans}
  </svelte:fragment>
</DataTable>
