<script>
  import { onMount } from 'svelte';
  onMount(() => {
    const articles = document.querySelectorAll('article.dl');
    const limitedArticles = Array.from(articles).slice(0, 10);
    let jsonLdData = [];

    limitedArticles.forEach((article) => {
      const dyulaTerm = article.querySelector('h4');
      const frenchDefinitionElements = article.querySelectorAll('ul.pos ul.def li');

      const dyulaHeadword = dyulaTerm.textContent.trim();
      const frenchDefinition = [].map
        .call(frenchDefinitionElements, (el) => el.textContent.trim())
        .join(' ');

      jsonLdData.push({
        '@context': 'https://schema.org',
        '@type': 'DefinedTerm',
        name: dyulaHeadword,
        inLanguage: 'dyu',
        description: frenchDefinition
      });
    });

    const jsonLdScript = document.createElement('script');
    jsonLdScript.type = 'application/ld+json';
    jsonLdScript.textContent = JSON.stringify(jsonLdData);
    document.head.appendChild(jsonLdScript);
  });
</script>

<slot />

<style>
  @import '/src/assets/css/lexicon.css';
</style>
