<script>
  import { DataTable, Link, OutboundLink, Grid, Row, Column } from 'carbon-components-svelte';
  import meta_info from './meta_info.json';
  const rows = meta_info.abbreviations.abbr_def;
</script>

<DataTable
  showheader={false}
  zebra
  headers={[
    { key: 'abbr_k', value: '' },
    { key: 'abbr_v', value: '' }
  ]}
  {rows}
>
  <h2 id="_abbreviations" slot="title">Abbreviations</h2>
</DataTable>
<Grid>
  <Row fullwidth>
    <Column>
      <h3>Voir aussi:</h3>
      <p class="paragraph">
        <OutboundLink href="https://mandenkan.com/lexique/">
          Lexique du dioula de Côte d'Ivoire (mandenkan.com)
        </OutboundLink>
      </p>
      <p class="paragraph">
        <Link href="https://dyu-lex.coastsystems.net/">
          Lexique du dioula de Côte d'Ivoire (Version perso avec cartes anki 2024)
        </Link>
      </p>
    </Column>
  </Row>
</Grid>
