<div id="header">
  <h1>Lexique du dioula (1993)</h1>
  <div class="details"></div>
</div>
<div id="content">
  <p>
    COULIBALY Moussa, HARAGUCHI_Takehiko<br />
    Institute of Developing Economies<br />
  </p>
</div>
<div class="sect1">
  <h2 id="_préface">Préface</h2>
  <div class="sectionbody">
    <div class="paragraph">
      <p>
        Ce lexique est inspiré du Petit Dictionnaire Dioula que C. Braconnier et M.J. Derive ont
        publié en 1978.<sup class="footnote"
          >[<a id="_footnoteref_1" class="footnote" href="#_footnotedef_1" title="View footnote."
            >1</a
          >]</sup
        >
        Comme le dictionnaire précédent, il voudrait être simplement un outil commode pour les personnes
        qui souhaitent pouvoir parler dioula en Côte d&#8217;Ivoire. Il peut être utilisé comme complément
        à la méthode "kó di? de l&#8217;Institut de Linguistique Appliquée d&#8217;Abidjan.
      </p>
    </div>
    <div class="admonitionblock note">
      <table>
        <tbody>
          <tr>
            <td class="icon">
              <div class="title">Note</div>
            </td>
            <td class="content">
              Par commodité nous avons adopté la même terminologie grammaticale que celle employée
              dans "kó di ?". Les guillemets signalent une traduction très approximative.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paragraph">
      <p>
        La forme et le contenu sont en principe les mêmes que pour le "Braconnier et Dérive".
        Cependant:
      </p>
    </div>
    <div class="olist arabic">
      <ol class="arabic">
        <li>
          <p>Nous avons enrichi certaines définitions et rectifié d&#8217;autres.</p>
        </li>
        <li>
          <p>
            Nous avons ajouté 570 mots(1119 mots au total) qui ont été collectés lors de leçons
            privées de dioula que Moussa Coulibaly a donnés à Haraguchi Takehiko pendant 2 ans entre
            1988 et 1990 à Abidjan.
          </p>
        </li>
        <li>
          <p>
            Nous avons omis le signe de ton dans les exemples parce qu&#8217;il n&#8217;est pas
            d&#8217;une grande utilité pratique pour le débutant et que les effort pour
            l&#8217;imprimer correctement sont disproportionnés par rapport à leur utilité.
          </p>
        </li>
        <li>
          <p>
            Nous avons utilisé les formes élidées résultant de la rencontre de deux voyelles dans
            les réalisations orales: exemple a b&#8217;a ta (a be + a ta).
          </p>
        </li>
      </ol>
    </div>
    <div class="paragraph">
      <p>
        Nous remercions le professeur Kalilou Tera, chercheur dioulaphone de l&#8217;Institut de
        Linguistique Appliquée qui a vérifié ce lexique et dont les observations et les suggestions
        nous ont permis de l&#8217;améliorer.
      </p>
    </div>
    <table class="tableblock frame-none grid-all stripes-none" style="width: 30%;">
      <colgroup>
        <col style="width: 100%;" />
      </colgroup>
      <tbody>
        <tr>
          <td class="tableblock halign-left valign-top"><p class="tableblock">octobre 1993</p></td>
        </tr>
        <tr>
          <td class="tableblock halign-left valign-top"></td>
        </tr>
        <tr>
          <td class="tableblock halign-left valign-top"
            ><p class="tableblock">COULIBALY Moussa</p></td
          >
        </tr>
        <tr>
          <td class="tableblock halign-left valign-top"
            ><p class="tableblock">HARAGUCHI Takehiko</p></td
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="footnotes">
  <hr />
  <div class="footnote" id="_footnotedef_1">
    <a href="#_footnoteref_1">1</a>. C. Braconnier et M. J. Derive.
    <em>Petit Dictionnaire Dioula.</em> Institut de Linguistique Appliquée, Abidjan. 1978.
  </div>
</div>
<div id="footer"></div>

