<script>
  import { DataTable } from 'carbon-components-svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, number, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  import money from '/src/assets/metadata/money.json';
  const rows = money;
  import metadata from './meta.json';
  let title = metadata.title;
  let author = metadata.author;
  let description = metadata.description;
  let keywords = metadata.keywords;
  let pageImage = metadata.pageImage;
  let languageLinks = getAllLanguageLinks(pathname);
  let pageNoindex = false;
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<DataTable
  zebra
  headers={[
    { key: 'numeric', value: $_('numeric') },
    { key: 'text_numeric', value: $_('text_numeric') },
    { key: 'text_currency', value: $_('text_currency') },
    { key: 'currency', value: $_('currency') }
  ]}
  {rows}
>
  <PageImage {pageImage} />
  <h2 slot="title">{title}</h2>
  <span slot="description" style="font-size: 1rem">
    {description}
  </span>
  <svelte:fragment slot="cell" let:cell>
    {#if cell.key === 'currency'}
      {$number(cell.value, { style: 'currency', currency: 'XOF' })}
    {:else}
      {cell.value}
    {/if}
  </svelte:fragment>
</DataTable>
