<script>
  import { onMount } from "svelte";
  import { SideNav, SideNavItems, SideNavMenuItem, SideNavMenu, SideNavLink } from "carbon-components-svelte";
  import { locale, _ } from "svelte-i18n";
  import DropdownLang from "$lib/components/DropdownLang.svelte";
  import { isSideNavOpen } from "$lib/js/sidenav.store.js";
  let uiLang;
  locale.subscribe((value) => {
    uiLang = value; // Assign the language symbol directly
  });
  const breakpoint = 1056;

  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
  onMount(() => {
    const isOwner = localStorage.getItem("isOwner") === "true";
    const menuItems = document.querySelectorAll(".hidden-menu");

    menuItems.forEach((item) => {
      item.style.display = isOwner ? "flex" : "none";
    });
  });
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem on:click={SideNavLinkClick} href="/{uiLang}/docs/udhr/" text="UDHR" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/{uiLang}/docs/udhr-morph/" text="Morphologie de la UDHR" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/kodi-w100/" text={$_("kodi_w100.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/lexique-dyu/" text="Lexique {$_('Dyula')} de Côte d'Ivoire 2024" />
    <SideNavLink href="https://bamadaba.coastsystems.net" text="Dictionnaire Bamabara Bamadaba" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/code_ortho/" text="Code orthographique dioula de Burkina Faso" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/en/docs/bambara-manual/" text="Manuel Bambara (Anglais)" />

    <SideNavMenu text="Lexique dioula de Côte d'Ivoire (1993)">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/lexique-coul/" text="Dioula-Français" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/lexique-coul/#_french" text="Français-Dioula" />
    </SideNavMenu>

    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/slides/quiz/" text="Quiz" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/alpha-dyu/" text={$_("alphabet.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/money/" text="L'argent et chiffres en {$_('Dyula')}" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/animals/" text="Animaux en {$_('Dyula')} de Côte d'Ivoire" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/resources/" text="Ressources d'étude {$_('Dyula')}" />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/fontlist/" text={$_("fontlist.title")} />
    <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/anki/" text="Qu'est-ce que 'Anki' ?" />
    <!--
<SideNavMenuItem on:click={SideNavLinkClick} href='/fr/docs/cours/github/' text="Github css" />
-->
    <!-- <SideNavMenuItem -->
    <!--   on:click={SideNavLinkClick} -->
    <!--   href="/fr/docs/w_jl/" -->
    <!--   text="Morphologie de Jula dans la Tour de Garde" -->
    <!-- /> -->
    <!-- <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/freq/" text={$_('freq.title')} /> -->
    <SideNavMenu text="Cours">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/kodi/" text="Kodi" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/julakankaran/" text="Julakan Karan" />
    </SideNavMenu>

    <SideNavMenu class="hidden-menu" text="Yousouf">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_1/" text="Seance 1" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_2/" text="Seance 2" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_3/" text="Seance 3" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_4/" text="Seance 4" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_5/" text="Seance 5" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_6/" text="Seance 6" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_7/" text="Seance 7" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_9/" text="Seance 9" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_10/" text="Seance 10" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_11/" text="Seance 11" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_12/" text="Seance 12" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_13/" text="Seance 13" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_14/" text="Seance 14" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_15/" text="Seance 15" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_16/" text="Seance 16" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_17/" text="Seance 17" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_18/" text="Seance 18" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_19/" text="Seance 19" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_20/" text="Seance 20" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_21/" text="Seance 21" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_22/" text="Seance 22" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_23/" text="Seance 23" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_24/" text="Seance 24" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_25/" text="Seance 25" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_26/" text="Seance 26" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_27/" text="Seance 27" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_28/" text="Seance 28" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_29/" text="Seance 29" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_30/" text="Seance 30" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_31/" text="Seance 31" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_32/" text="Seance 32" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_33/" text="Seance 33" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_34/" text="Seance 34" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_35/" text="Seance 35" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_36/" text="Seance 36" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_37/" text="Seance 37" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_38/" text="Seance 38" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_39/" text="Seance 39" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_40/" text="Seance 40" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_41/" text="Seance 41" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_42/" text="Seance 42" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_43/" text="Seance 43" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/seance_44/" text="Seance 44" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/modeles_d_histoires_et_contes_africains/" text="Contes africains" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-01-31_seance/" text="2021-01-31_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-02-07_seance/" text="2021-02-07_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-03-07_seance/" text="2021-03-07_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-03-21_seance/" text="2021-03-21_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-03-28_seance/" text="2021-03-28_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-04-04_seance/" text="2021-04-04_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-04-11_seance/" text="2021-04-11_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-04-18_seance/" text="2021-04-18_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-05-02_expressions/" text="2021-05-02_expressions/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-05-16_seance/" text="2021-05-16_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-05-22_seance/" text="2021-05-22_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-07-27_seance/" text="2021-07-27_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-08-08_seance/" text="2021-08-08_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-09-05_seance/" text="2021-09-05_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-09-12_seance/" text="2021-09-12_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-09-19_seance/" text="2021-09-19_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-10-03_seance/" text="2021-10-03_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-10-18_seance/" text="2021-10-18_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-10-31_seance/" text="2021-10-31_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2021-12-05_revision/" text="2021-12-05_revision/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2022-01-01_situmu/" text="2022-01-01_situmu/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2022-01-15_seance/" text="2022-01-15_seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/youssouf/2022-02-27-seance/" text="2022-02-27-seance/" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/kodi_additif/" text="kodi_additif/" />
    </SideNavMenu>

    <SideNavMenu text="Soumahoro">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2017-09-01-kele/" text="Kɛlɛ ma ɲi" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2017-11-18-baro/" text="Baro" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2020-12-06-banan/" text="Bana dugu kɔnɔ" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2020-12-05-negeso/" text="Nɛgɛso san ma bɔ" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2020-12-04-dunyan/" text="Dunyan tɛ lɔn kɛ ban!" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/soumahoro/2020-12-04-jarabi/" text="Jarabi ni baara" />
    </SideNavMenu>

    <SideNavMenu text="Contes">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/cenyumani/" text="La belle ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/sunguru/" text="A qui la jeune femmme ?" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/jaradenw/" text="Les petits de la lionne" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/sula/" text="Le singe et le lièvre" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/dimi/" text="Le regret" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/subagaya/" text="La sorcellerie" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/contes/ngalonci/" text="Le menteur" />
    </SideNavMenu>

    <SideNavMenu class="hidden-menu" text="Baoulé">
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2024-12-07-s01/" text="Séance 01" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2024-12-14-s02/" text="Cours Collectif S2" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2024-12-20-verbes/" text="Verbe être et avoir" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2024-12-28-salutations/" text="Salutations en Baoulé" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-01-25-salutations/" text="Salutations en Baoulé révisé" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-02-13-présentations/" text="Présentations" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-02-15-résumé-de-salutations/" text="Résumé de salutations" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-02-22-pronoms/" text="Pronoms" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-02-28-quiz/" text="Quiz" />
      <SideNavMenuItem on:click={SideNavLinkClick} href="/fr/docs/cours/baoule/2025-03-01-noms-baoule/" text="Noms Baoulé" />
    </SideNavMenu>
  </SideNavItems>
  <DropdownLang />
</SideNav>
