footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: var(--footer-height-mobile); */
  height: auto;
  z-index: var(--z-index-footer);
}

footer.footer div:nth-child(2) {
  order: unset;
}

footer.footer.home {
  position: sticky;
  bottom: 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: var(--footer-link-font-color);
}

.footer img {
  vertical-align: middle;
}

.footer-brand,
.footer-center,
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer-brand {
  font-family: var(--nav-font-family);
  font-size: var(--font-size-fluid-1);
  color: var(--cds-brand-01);
  padding-left: 0.5rem;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer-brand a {
  color: var(--cds-brand-01);
}

.footer-brand-name {
  line-height: 1;
  letter-spacing: -0.02em;
}

.footer-center {
  flex-basis: 100%;
  padding: 0 1rem;
  font-size: var(--font-size-0);
  text-align: center;
  margin-bottom: 1rem;
}

.footer-social {
  /* temporary disable */
  display: none;
  padding-right: 0.5rem;
  align-items: flex-end;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

ul.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
}


ul.social-links li {
  padding: 0 .4rem;
}

ul.social-links li a {
  /* matches normalize but left and right */
  padding-inline: var(--size-2);
}

ul.social-links li a {
  padding-inline: unset;
  margin-inline: unset;
  padding-block: unset;
  margin-block: unset;
}

.feather {
  width: 16px;
  height: 16px;
  /* stroke: var(--text-2); */
  /* stroke-width: 1; */
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.feather.twitter {
  fill: var(--twitter-color);
}

svg.feather.linkedin {
  fill: var(--linkedin-color);
}

.feather.gitlab {
  fill: var(--gitlab-color);
}

.feather.github {
  fill: var(--text-1);
}

@media screen and (min-width: 800px) {
  footer.footer {
    /* height: var(--footer-height-desktop); */
    height: auto;
    flex-wrap: nowrap;

  }

  footer.footer div:nth-child(2) {
    order: 3;
  }

  .footer-social,
  .footer-center,
  .footer-brand {
    flex-basis: content;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .footer-center {
    margin: 0rem;
  }

  .footer-brand-name {
    font-size: var(--font-size-5);
  }

  .feather {
    width: 24px;
    height: 24px;
  }

  ul.social-links {
    flex-flow: row;
  }
}

@media screen and (min-width: 1024px) {
  .footer-brand-name {
    font-size: var(--font-size-5);
  }
}
