/* push the footer to bottom */
div#main {
  min-height: calc(100dvh - 10rem);
}

@media print {
  .bx--header,
  .bx--side-nav,
  .bx--side-nav__navigation,
  .bx--content-switcher,
  #footer {
    display: none !important;
  }
  .bx--offset-lg-4 {
    margin-left: 5%;
  }
  .bx--col-lg-10 {
    flex: 0 0 80%;
  }
  /* Adjust the main content width if needed */
  /* .bx--content { */
  /*   width: 100%; */
  /* } */
}

/* prevent the right side menu from extending down the screen */
/* settint allows 4 items */
.postcss-preset-envbx--header-panel.bx--header-panel--expanded {
  display: flex;
  flex-flow: column;
  height: 8rem;
  width: 6rem;
  top: 3rem;
}

.bx--switcher__item:nth-child(1) {
  margin-top: 0 !important;
}

/* the proverb box home screen */
button#proverb {
  margin-top: 1rem;
  box-shadow: var(--shadow-3);
  font-size: var(--cds-heading-01-font-size);
  font-weight: var(--cds-heading-01-font-weight);
}

header.bx--header {
  box-shadow: var(--shadow-3);
}

/* .bx--overflow-menu__icon { */
/*   fill: var(--cds-icon-inverse); */
/* } */
/* testing oveflow menu */
/* .bx--overflow-menu:hover, */
/* .bx--overflow-menu__trigger:hover { */
/*   background: #2c2c2c; */
/* } */
/**/
/* .bx--overflow-menu.bx--overflow-menu--open:hover { */
/*   background: #2c2c2c; */
/* } */
/**/
/* .bx--overflow-menu.bx--overflow-menu--open { */
/*   background: black; */
/*   color: white; */
/* } */
/**/
/* .bx--overflow-menu, */
/* .bx--overflow-menu__trigger, */
/* .bx--overflow-menu-options { */
/*   background: black; */
/* } */

/* fix for menu items padding

class="bx--side-nav__items"

*/

/* This is for unhiding menunav on mobile */
.bx--header__nav {
  display: block !important;
}

/* bt the following two will hide about */
@media screen and (max-width: 1024px) {
  #about {
    display: none !important;
  }
  nav .bx--header__nav {
    display: none !important;
  }
}

.bx--data-table-container {
  padding-top: var(--cds-spacing-05);
}

/* prevent the side nav from overlaying the header shadow */
.bx--side-nav__navigation {
  z-index: 1 !important;
}

/* otherwise the overlay is left: 0 and covers the entire screen on mobile */
.bx--side-nav__overlay {
  left: 16rem !important;
}

/* empty structured list for search looks weird with huge margin */
.bx--structured-list {
  margin-bottom: 0 !important;
}

/* fix for left menu */
.bx--content-switcher-btn,
.bx--content-switcher-btn.bx--content-switcher--selected {
  z-index: 0;
}

/* keeps the dropdown language selector from being pushed too far down */
.bx--dropdown__wrapper {
  flex-basis: 5.5rem;
}
/* .bx--tabs { */
/*   min-height: 2.5rem!important; */
/* } */
/**/
/* .bx--tabs__nav--hidden { */
/*     display: flex!important; */
/*     max-width: 100%!important; */
/*     max-height: none!important; */
/*     overflow-x: auto!important; */
/*     transition: inherit!important; */
/* } */
