<script>
  import { DataTable } from 'carbon-components-svelte';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  import { WordCloudChart } from '@carbon/charts-svelte';
  import '@carbon/charts-svelte/styles.css';
  import array from '/src/assets/metadata/w100-kodi.json';
  const data = array.xdxf.lexicon.ar;
  const rows = array.xdxf.lexicon.ar;
  // console.log('i18n test b4 page locale.set: ', $_('locale'));
  // console.log('i18n test after page locale.set: ', $_('locale'));
  locale.set(pageLang);
  let title = $_('kodi_w100.title');
  let author = $_('kodi_w100.author');
  let description = $_('kodi_w100.description');
  let keywords = $_('kodi_w100.keywords');
  let pageImage;
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
  const options = {
    toolbar: {
      enabled: true
    },
    legend: {
      enabled: false
    },
    color: {
      scale: {
        'group-10': '#08bdba', // Color for group 1
        'group-20': '#ee5396', // Color for group 4
        'group-30': '#78a9ff', // Color for group 3
        'group-40': '#3ddbd9', // Color for group 2
        'group-50': '#ff7eb6' // Color for group 6
        // 'group-60': '#33b1ff', // Color for group 5
        // 'group-70': '#be95ff', // Color for group 8
        // 'group-80': '#42be65', // Color for group 7
        // 'group-90': '#82cfff' // Color for group 9
      }
    },
    data: {
      groupMapsTo: 'value'
    },
    animations: true,
    wordCloud: {
      wordMapsTo: 'dyu',
      fontSizeMapsTo: 'freq',
      fontSizeRange: (chartSize, data) => {
        return [12, 80]; // This is just an example range
      },
      transformFontSize: (value) => {
        // Example transformation to increase variation
        return Math.log(value + 1) * 10; // Adjust factor as needed
      }
    },
    resizable: true,
    height: '400px'
  };
  // console.log('lang: ', $_('locale'));
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<h2>
  {title}
</h2>
<WordCloudChart {data} {options} />

<DataTable
  batchExpansion
  zebra
  sortable
  nonExpandableRowIds={rows.filter((row) => row.ex.orig == '').map((row) => row.id)}
  headers={[
    { key: 'freq', value: $_('Frequency') },
    { key: 'dyu', value: $_('Dyula') },
    { key: 'gr', value: $_('pos'), sort: false },
    { key: 'fr', value: $_('French') },
    { key: 'ex.orig', value: $_('Usage') }
  ]}
  {rows}
>
  <span slot="description" style="font-size: 1rem">
    {description}
  </span>
  <svelte:fragment slot="expanded-row" let:row>
    {row.ex.trans}
  </svelte:fragment>
</DataTable>
