<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  import Content from './Content.svelte';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  import metadata from './meta.json';
  let title = metadata.title;
  let author = metadata.author;
  let description = metadata.description;
  let keywords = metadata.keywords;
  let pageImage = metadata.pageImage;
  let pageNoindex = false;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  let languageLinks = getAllLanguageLinks(pathname);
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<div class="doc bx--content">
  <Content />
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
