<script>
  import { SideNav, SideNavItems, SideNavMenuItem } from 'carbon-components-svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import DropdownLang from '$lib/components/DropdownLang.svelte';
  const breakpoint = 1056;
  function SideNavLinkClick() {
    // if (window.innerWidth <= breakpoint) {
    //   $isSideNavOpen = false;
    // }
  }
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <SideNavItems>
    <SideNavMenuItem href="/bm/docs/udhr/" text="UDHR" />
    <SideNavMenuItem href="/fr/docs/udhr-morph/" text="UDHR Morphology" />
    <SideNavMenuItem href="/dyu/docs/ngalonci/" text="Ngalonci" />
    <SideNavMenuItem href="/fr/slides/quiz/" text="Ɲiningaliw" />
  </SideNavItems>
  <DropdownLang />
</SideNav>
