<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import { getAllLanguageLinks } from '$lib/js/metalang.js';
  import Content from './Content.svelte';
  const pathname = $page.url.pathname;
  const pageUrl = $page.url.href;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  locale.set(pageLang);
  let title = $_('udhr.title');
  let author = $_('udhr.author');
  let description = $_('udhr.description');
  let keywords = $_('udhr.keywords');
  let pageImage = $_('udhr.image');
  let pageNoindex = false;
  let languageLinks = getAllLanguageLinks(pathname);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<div class="doc bx--content">
  <Content />
</div>

<style lang="postcss">
  @import '/src/assets/css/vars.css';
  @import '/src/assets/css/doc.css';
</style>
