<script>
  import {
    SideNav,
    SideNavItems,
    SideNavMenu,
    SideNavMenuItem,
    SideNavDivider
  } from 'carbon-components-svelte';
  import { isSideNavOpen } from '$lib/js/sidenav.store.js';
  import DropdownLang from '$lib/components/DropdownLang.svelte';
  const breakpoint = 1056;
  function SideNavLinkClick() {
    if (window.innerWidth <= breakpoint) {
      $isSideNavOpen = false;
    }
    event.preventDefault(); // Prevent default link behavior
    const href = event.currentTarget.href; // Get the clicked link's href
    window.location.href = href; // Force full page reload with the new URL
  }
  // console.log("sidenav fr blog", $isSideNavOpen);
  // $isSideNavOpen = true;
  // let isOpen = true;
</script>

<SideNav fixed expansionBreakpoint={breakpoint} bind:isOpen={$isSideNavOpen}>
  <DropdownLang />
  <SideNavItems>
    <SideNavDivider></SideNavDivider>
  </SideNavItems>
</SideNav>
