<script>
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { locale } from 'svelte-i18n';
  export let data;
  $: ({ metadata } = data);

  // Reactive page URL
  let pathname = $page.url.pathname;
  let pageUrl = $page.url.href;
  // Extract metadata fields with defaults
  $: ({
    doctitle: title = '',
    author = '',
    description = '',
    keywords = '',
    pageImage = 'site.svg',
    pageNoindex = 'false'
  } = metadata || {});

  // console.log('pathname:', pathname);
  let pageLang = pathname.split('/')[1];
  let section = pathname.split('/')[2];
  locale.set(pageLang);
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>

<slot />

<!-- <svelte:element this={data.html} /> -->

<style lang="postcss">
</style>
