<script>
  import { Breadcrumb, BreadcrumbItem } from 'carbon-components-svelte';

  const items = [
    { href: '/en/docs/', text: 'Study' },
    { href: '/en/blog/', text: 'Blog' },
    { href: '/fr/docs/', text: 'Etude' },
    { href: '/fr/blog/', text: 'Blog' },
    { href: '/fr/docs/cours/', text: 'Cours' }
  ];
</script>

<Breadcrumb>
  Test
  {#each items as item, i}
    <BreadcrumbItem href={item.href} isCurrentPage={i === items.length - 1}>
      {item.text}
    </BreadcrumbItem>
  {/each}
</Breadcrumb>
