<script>
  import { ContentSwitcher, Switch, Grid, Row, Column } from 'carbon-components-svelte';
  import { baseUrl } from '$lib/js/baseurl.store';
  export let languageLinks, pageLang;

  let linksArray = [];
  let selectedIndex = -1;

  // Ensure linksArray is reactive when languageLinks resolves
  languageLinks.then((links) => {
    linksArray = [...links]; // Spread to trigger reactivity
  });

  // Reactive block to update selectedIndex when linksArray or pageLang changes
  $: {
    if (pageLang && linksArray.length > 0) {
      selectedIndex = linksArray.findIndex((linkObj) => linkObj.language === pageLang);
    }
  }

  function handleClick(language, link) {
    selectedIndex = linksArray.findIndex((linkObj) => linkObj.language === language);
    window.location.assign(link); // Navigate after updating state
  }
</script>

<svelte:head>
  {#each linksArray as { link, language } (language)}
    <link rel="alternate" hreflang={language} href="{$baseUrl}{link}" />
  {/each}
</svelte:head>

{#if linksArray.length >= 2}
  <Grid fullWidth noGutter>
    <Row>
      <Column>
        <ContentSwitcher bind:selectedIndex>
          {#each linksArray as { link, language } (language)}
            <Switch size="sm" on:click={() => handleClick(language, link)} text={language} />
          {/each}
        </ContentSwitcher>
      </Column>
      <Column></Column>
    </Row>
  </Grid>
{/if}
