<!-- PageImage.svelte -->

<script>
  export let pageImage;
  export let alt = "Image Alt Text";
  const src = '/images/' + pageImage
</script>

<style>
  img {
    width: 100%;
    height: auto;
  }
</style>

<img src={src} alt={alt}>
