<script>
  export let title = '';
  export let description = '';
let pageUrl = $page.url.href
  let jsonLdBlogPost = {
    '@context': 'https://schema.org',
    '@type': 'BlogPosting',
    headline: '',
    description: '',
    url: '',
    datePublished: '',
    dateModified: ''
    // Add more properties specific to a blog post
  };

  $: {
    jsonLdBlogPost.headline = title;
    jsonLdBlogPost.description = description;
    jsonLdBlogPost.url = pageUrl;
    // Set other properties specific to a blog post
  }
</script>

<svelte:head>
  <script type="application/ld+json">
{JSON.stringify(jsonLdBlogPost)}
  </script>
</svelte:head>
