<script>
  import { ExpandableTile } from 'carbon-components-svelte';
  import { _ } from 'svelte-i18n';
</script>

<ExpandableTile id="proverb" tileExpandedLabel={$_('Dyula')} tileCollapsedLabel={$_('French')}>
  <div slot="above">
    <br />
    <div id="prv_dyu"></div>
    <br />
  </div>
  <div slot="below">
    <div id="prv_fr"></div>
    <br />
  </div>
</ExpandableTile>

<style>
  #proverb {
    margin-top: 1rem;
    box-shadow: var(--shadow-3);
    font-size: var(--cds-heading-01-font-size);
    font-weight: var(--cds-heading-01-font-weight);
  }
  #prv_dyu,
  #prv_fr {
    text-align: center;
    font-size: var(--cds-heading-03-font-size);
    font-weight: var(--cds-heading-03-font-weight);
  }
</style>
