<!-- Index1.svelte -->
<script>
import { Search, Tag, Tile } from 'carbon-components-svelte';
 import {
    StructuredList,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody,
  } from "carbon-components-svelte";
import data from "$lib/data.json";
import index from "$lib/index.json";
import lunr from 'lunr';
import {goto} from '$app/navigation';

let results = [];
let ref = null;
let active = false;
let value = "";

var idx = lunr.Index.load(index);

$: if (value) {
  const searchResults = idx.search(value);
  results = searchResults.map((hit) => {
    const Text = data.docs.find(doc => doc.id === hit.ref)?.Text ?? '';
    const examples = data.docs.find(doc => doc.id === hit.ref)?.examples ?? [];
    ref = hit.ref
    return {
      ref: hit.ref,
      Text: Text,
      examples: examples,
    };
  });
}

else {
    results = []; // Clear results when value is empty
}

function cleanup() {
  results = []
}

function navigateToId(id) {
  goto(`#${id}`);
}
function vinput(glyph) {
	value = value + glyph;
	active = true;
	document.getElementById('search-input-dyu').focus();
}
</script>

<Tile>
	<Tag size="sm" interactive="true" type="cool-gray" on:click="{() => vinput('ɛ')}">ɛ</Tag>
	<Tag size="sm" interactive="true" type="cool-gray" on:click="{() => vinput('ɔ')}">ɔ</Tag>
	<Tag size="sm" interactive="true" type="cool-gray" on:click="{() => vinput('ɲ')}">ɲ</Tag>
	<Tag size="sm" interactive="true" type="cool-gray" on:click="{() => vinput('ŋ')}">ŋ</Tag>
  <Search
    id="search-input-dyu"
    autofocus="true"
    placeholder="Ɲini..."
    bind:ref="{ref}"
    bind:active="{active}"
    bind:value="{value}"
    on:clear="{cleanup}"
  />
  <StructuredList selection>
    <StructuredListBody>
      {#each results as result}
        <StructuredListRow
            on:click={() => navigateToId(ref)}>
          <StructuredListCell noWrap>
              {result.Text}
          </StructuredListCell>
          <StructuredListCell>
            {#each result.examples as example (example)}
              <p>{example}</p>
            {/each}
          </StructuredListCell>
        </StructuredListRow>
      {/each}
    </StructuredListBody>
  </StructuredList>
</Tile>
