<script>
  import { Tile, Select, SelectItem } from 'carbon-components-svelte';
  import { Wikis } from 'carbon-icons-svelte';
  import { _, locales, locale } from 'svelte-i18n';
  import { currentLang } from '$lib/js/language.store';
  import { browser } from '$app/environment';
  function redirect(value) {
    locale.set(value);
    $currentLang = value;
    if (browser) {
      window.location.assign('/' + value + '/docs/');
    }
  }
</script>

<Select
  hideLabel
  labelText={$_('Site Language')}
  selected={$locale}
  on:change={(e) => redirect(e.target.value)}
>
  {#each $locales as locale}
    <SelectItem value={locale} text={locale} />
  {/each}
</Select>
