<script>
  import { goto } from '$app/navigation';
  import {
    DataTable,
    ContentSwitcher,
    Switch,
    Link,
    Tile,
    UnorderedList,
    ListItem
  } from 'carbon-components-svelte';
  import { WordCloudChart } from '@carbon/charts-svelte';
  import '@carbon/charts-svelte/styles.css';
  import Head from '$lib/components/Head.svelte';
  import { page } from '$app/stores';
  import { _, locale } from 'svelte-i18n';
  import CSLang from '$lib/components/CSLang.svelte';
  import PageImage from '$lib/components/PageImage.svelte';
  import { getAllLanguageLinks, getLanguageIndex } from '$lib/js/metalang.js';
  const pathname = $page.url.pathname;
  const section = pathname.split('/')[2];
  const pageLang = pathname.split('/')[1];
  const pageUrl = $page.url.href;
  let title = $_('udhr-morph.title');
  let author = $_('udhr-morph.author');
  let description = $_('udhr-morph.description');
  let keywords = $_('udhr-morph.keywords');
  let pageImage = $_('udhr-morph.image');
  let languageLinks = getAllLanguageLinks(pathname);
  let pageNoindex = false;
  locale.set(pageLang);

  function navigateToAbout(event) {
    event.preventDefault(); // Prevent default anchor behavior
    goto('/about'); // Use SvelteKit's navigation
  }
  const options = {
    toolbar: {
      enabled: true
    },
    legend: {
      enabled: true
    },
    color: {
      scale: {
        'group-1': '#08bdba', // Color for group 1
        'group-2': '#ee5396', // Color for group 4
        'group-3': '#78a9ff', // Color for group 3
        'group-4': '#be95ff', // Color for group 8
        'group-5': '#ff7eb6' // Color for group 6
        // 'group-6': '#33b1ff', // Color for group 5
        // 'group-7': '#3ddbd9', // Color for group 2
        // 'group-8': '#42be65', // Color for group 7
        // 'group-9': '#82cfff' // Color for group 9
      }
    },
    data: {
      groupMapsTo: 'group'
      // selectedGroups: ['group-1', 'group-2', 'group-3']
    },
    animations: true,
    experimental: true,
    wordCloud: {
      wordMapsTo: 'word',
      fontSizeMapsTo: 'length',
      fontSizeRange: (chartSize, data) => {
        return [12, 80]; // This is just an example range
      },
      transformFontSize: (value) => {
        // Example transformation to increase variation
        return Math.log(value + 1) * 10; // Adjust factor as needed
      }
    },
    resizable: true,
    height: '400px'
  };
  // console.log('udrh-morph lang: ', pageLang);
  import array from '/src/assets/metadata/udhr.json';
  let selectedIndex = getLanguageIndex(pageLang);
  let languages = [
    { key: 'bm', value: $_('Bambara') },
    { key: 'bci', value: $_('Baoule') },
    { key: 'dyu', value: $_('Dyula') },
    { key: 'en', value: $_('English') },
    { key: 'fr', value: $_('French') }
  ];
  let data;
  let rows;
  $: {
    // console.log('Selected Index:', selectedIndex);
    // console.log('Selected Key:', languages[selectedIndex].key);
    // console.log('Data from array:', array.udhr[languages[selectedIndex].key]);
    // console.log('Data with .all:', array.udhr[languages[selectedIndex].key]?.all);
    data = array.udhr[languages[selectedIndex].key]?.all || {};
    rows = array.udhr[languages[selectedIndex].key]?.all || {};
  }
</script>

<Head
  {pageUrl}
  {pageNoindex}
  {title}
  {author}
  {description}
  {keywords}
  {pageImage}
  {pageLang}
  {section}
/>
<CSLang {languageLinks} {pageLang} />

<h2>
  {$_('udhr-morph.title')}
</h2>

<WordCloudChart {data} {options} />
<Tile style="margin-top: var(--cds-spacing-05)">
  <UnorderedList style="margin-left: var(--cds-spacing-05)">
    <ListItem>
      <Link href="/bci/docs/udhr">Sran mmla mun be mɛn nun jɔ bolɛ</Link>
    </ListItem>
    <ListItem>
      <Link href="/bm/docs/udhr/">Hadamaden josiraw dantigɛkan</Link>
    </ListItem>
    <ListItem>
      <Link href="/dyu/docs/udhr/">Dunya’’ mumɛ mɔgɔya’’ hakɛyaw dantigɛlikan</Link>
    </ListItem>
    <ListItem>
      <Link href="/en/docs/udhr/">Universal Declaration of Human Rights</Link>
    </ListItem>
    <ListItem>
      <Link href="/fr/docs/udhr/">Déclaration Universelle des droits de l'homme</Link>
    </ListItem>
  </UnorderedList>
</Tile>

<ContentSwitcher style="margin-bottom: var(--cds-spacing-05)" bind:selectedIndex>
  {#each languages as lang (lang.key)}
    <Switch text={lang.value} />
  {/each}
</ContentSwitcher>

<DataTable
  zebra
  sortable
  headers={[
    { key: 'word', value: $_('word') },
    { key: 'count', value: $_('frequency') }
  ]}
  {rows}
>
  <span slot="description" style="font-size: 1rem">
    {$_('udhr-morph.title')} ({languages[selectedIndex]?.value})
  </span>
</DataTable>
